@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ebf5ff;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

h1 {
  color: mediumslateblue;
}

#date {
  color:mediumslateblue;
  font-weight: 500;
}


main {
  max-width: 50em;
  width: 35vw;
  margin: 0 auto;
  min-height: 100vh;
}

#todoList {
  background: #ffffff;
  border-radius: 0.375rem;
  box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
  padding: 20px;
  max-width: 50em;
  margin: 30px auto;
}

.btn-submit {
  border: 2px solid mediumslateblue;
  background: #ffffff;
  color: mediumslateblue;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 0.375rem;
  font-weight: 700;
  background-color: mediumslateblue;
  color: #ffffff;
}

form input {
  border-radius: 0.375rem;
  border: none;
  background: #ebf5ff;
  padding: 10px 15px;
  width: 70%;
  margin-right: 20px;
}

.toDoItem {
  display: flex;
  margin-top: 20px;
  align-items: center;

}

.toDoItem p {
  width: 80%;
  font-size: 120%;
}

 #success-checkbox {
  padding: 10px;
  border-radius: 50%;
  width: 15%;
  height: 20px;
  border: 1px solid purple;
}

.complete {
  color: green;
}





